#map {
    margin-top: 4%;
    height: 80%;
  }
  
  
  html,
  body {
    background-color: antiquewhite;
    height: 100%;
    /* padding: 0px; */
}

#imput{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 20px;
}

